.header { 

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
 /* -webkit-box-align: center;*/
 /* -webkit-box-pack: justify;*/
  background: linear-gradient(90deg, rgba(111,177,127,1) 0%, rgba(154,173,89,1) 100%);
}


