.form {
    width: 100%;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.text {
    margin-bottom: 10px;
    font-size: 16px;
}

.input {
    display: block;
    width: 250px;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(231, 231, 231);
    outline: none;
    cursor: pointer;
}

.input:hover {
    background-color: rgb(200, 249, 222);
}

.button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(35, 109, 68);
    color: rgb(255, 255, 255);
}

.button:hover {
   box-shadow: 5px 5px 5px #257650;
   width: 200px;

}

