.link {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 20px 0;

  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color: rgb(35, 109, 68);

  border-radius: 10px;
  text-decoration: none;
}

.span {
  color: rgb(4, 33, 17);
}

.logo {
  width: 55px;
  height: 55px;
}